.user-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 0;

  &:fullscreen {
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
  }

  &__search {
    margin-bottom: 8px;
    padding: 16px 16px 0;
    border-radius: 6px;

    .ant-form-item {
      margin-bottom: 16px;
    }
  }

  &__panel {
    min-height: 0;
    background: #fff;
  }
}
