*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family:
    'PingFang SC', 'Helvetica Neue', 'yahei', Helvetica, 'microsoft yahei',
    arial, STHeiTi, sans-serif;
}

/* 全局滚动条统一样式 */
/* Webkit 内核浏览器（Chrome / Edge / Safari） */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #eeeff2;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9dae0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox 浏览器 */
* {
  scrollbar-width: thin;
  scrollbar-color: #eeeff2 transparent;
}
